node_modules/
.env and
.DS_Store.

./../API/
        ../../Chatgpt api key
        ../../FLASH-pusher/
        ../../Personal git hub token
        ../../Random/
        ../../React&javascriptprojectinitialisation.code-workspace
        ../../amalthea.1.6.24/
        ../../extra-practice/
        ../../fsd-full-stack-app-database-rsaniei-2/
        ../
        ../../react-example-project-start/
        ../../react/
        ../../sql.password
        ../../weekly-assignments/