
/*Welcome styles*/
.home {
    background-color: rgba(229,237,255,255);
    color: rgba(62,71,114,255);
}
#welcome {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
}

#description {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 500;
}

/*Card styles*/
.card {
    padding: 15px;
    margin: 0 10px 10px;
}

.card-title {
    font-size: 20px;
    text-align: left;
    color: rgba(62,71,114,255);
    padding: 0px;
}

.card-body {
    font-size: 15px;
    text-align: justify;
    color: rgba(62,71,114,255);
    padding: 0px;
}

/*Button styles*/
.btn {
    color: rgba(62,71,114,255);
    background-color: rgba(183,198,231,255);
    border: solid 0.5px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

/*Animation*/
.animate__animated.animate__fadeInLeft{
    --animate-duration: 1.75s;
}
.animate__animated.animate__fadeInRight{
    --animate-duration: 1.75s;
}

/*Desktop Styles*/
.col-md-6{
    padding: 15px 20px 5px;
}


