/*Icon styles*/
.icon {
    height: 50px;
    width: 50px;
}

.card {
    border: solid 1px;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

/* Heading styles */
#howTo {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-weight: 400;
}

/* Background */
.how-to {
    background-color: rgba(229,237,255,255);
    color: rgba(62,71,114,255);
}

/*Button styles*/
.btn {
    color: rgba(229,237,255,255);
    background-color: rgba(62,71,114,255);
    font-weight: 400;
    border: none;
    margin: 15px 10px;
    font-size: 15px;
}

#step1 {
    margin: 15px 10px;
}
