/*Form Styles*/
#login {
    border: 1px solid rgba(141,150,169,255);
    border-radius: 3%;
    margin: 15px 0px;
}

/*Field styles*/
.field{
    color: rgba(62,71,114,255);
    margin: 15px;
    border-radius: 3%;
}

/*Forgot Password styles*/
.pass-link a {
    color: rgba(62,71,114,255);
    font-weight: 400;
}

.pass-link a:hover {
    color: rgba(141,150,169,255);
}

/*Error styles*/
.error{
    color: red;
    font-weight: 400;
    margin: 25px;
}

/*Button styles*/
.form-btn { 
    border-radius: 5px;
    color: rgba(62,71,114,255);
    background-color: rgba(183,198,231,255);
    border: solid 0.5px;
    margin: 10px;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 15px;
}

.form-btn:hover {
    border-radius: 5px;
    color: rgba(62,71,114,255);
    background-color: rgba(230,237,255,255);
    border: solid 0.5px;
    margin: 10px;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 15px;
}